body {
   background-color: black;
}

#slika {
margin-top:0;
border:solid darkslategray 2px;

}

#labela {
   
   margin-left: 43%;
   width:205px;
   height:93px;
   font-size: xx-large;
   visibility: hidden;
   border:solid darkslategray 2px;
}

#dugme1 {
   margin-top: -7%;
   margin-left: 28%;
   width:200px;
   height:100px;
   position: absolute;
   font-size: xx-large;
   background-color: darkslategray;
   color: floralwhite;
   visibility: hidden;
}
#dugme2 {
   margin-top: -7%;
   margin-left: 58%;
   width:200px;
   height:100px;
   position: absolute;
   font-size: xx-large;
   background-color: darkslategray;
   color: floralwhite;
}
#dugme3 {
   margin-top: 1%;
   margin-left: 43%;
   width:200px;
   height:100px;
   position: absolute;
   font-size: xx-large;
   background-color: darkslategray;
   color: floralwhite;
   visibility: hidden;
}

#dugme1:hover {
   opacity:0.7;
}
#dugme2:hover {
   opacity:0.7;
}
#dugme3:hover {
   opacity:0.7;
}

#text {
   color: #fff;
   font-size: 40px;
   text-align: center;
   margin-top: 0;
}
